{% extends 'Jing/home.html' %}

{% block header %}
<header class="container" style = "text-align: center;">
	<h3>所有作品类型如下：</h3>
		{% for type in types %}
		<a href="#{{ type.slug}}">{{ type.name }}</a>
		{% if not forloop.last %}
		|
		{% endif %}
		{% endfor %}
</header>
{% endblock %}

{% block content %}
{% for type in types %}
<article id="{{ type.slug }}" style="text-align: center;">
	<header>
		<img src="{{ type.demo.url }}" style="max-width: 400px">
	</header>
	<h3><a href="{% url 'Jing:workType' type.slug %}">{{ type.name }}</a></h3>
	<p>{{ type.intro|linebreaks }}</p>
</article>
{% endfor %}
{% endblock %}